#main-page-space-racer-one-flame-center {
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  width: max(20px, 20px);
}

#main-page-space-racer-two-flame-center {
  top: 41.5px;
  left: 49.75%;
  transform: translateX(-50%);
  width: max(20px, 20px);
}

#main-page-space-racer-three-flame-center {
  top: 32px;
  left: 50.5%;
  transform: translateX(-50%);
  width: max(12px, 12px);
  z-index: 20;
}

#main-page-space-racer-four-flame-center {
  top: 28px;
  left: 50.5%;
  transform: translateX(-50%);
  width: max(10px, 10px);
  z-index: 20;
}

#main-page-space-racer-five-flame-center {
  top: 67px;
  left: 50.5%;
  transform: translateX(-50%);
  width: max(20px, 20px);
}

#main-page-space-racer-five-flame-left {
  top: 67px;
  left: 27.5%;
  width: max(7.5px, 7.5px);
}

#main-page-space-racer-five-flame-right {
  top: 67px;
  left: 66.5%;
  width: max(7.5px, 7.5px);
}

.main-page-space-racer-one-flame-center-animation {
  width: max(21px, 21px) !important;
  left: 50% !important;
}
.main-page-space-racer-two-flame-center-animation {
  width: max(21px, 21px) !important;
  left: calc(49.75%) !important;
}
.main-page-space-racer-three-flame-center-animation {
  width: max(11px, 11px) !important;
}
.main-page-space-racer-four-flame-center-animation {
  width: max(11px, 11px) !important;
}

.main-page-space-racer-five-flame-center-animation {
  left: 50.5% !important;
  width: max(21px, 21px) !important;
}

.main-page-space-racer-five-flame-left-animation {
  left: 27.25% !important;
  width: max(8.5px, 8.5px) !important;
}

.main-page-space-racer-five-flame-right-animation {
  left: 66% !important;
  width: max(8.5px, 8.5px) !important;
}
