.backgroundScroll {
  width: max(
    calc(100vw - var(--scrollbar-width)),
    calc(100vw - var(--scrollbar-width))
  );
  height: max(100vh, 100vh);
  background-image: url("../../../assets/images/backgrounds/pixel-space.jpeg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;

  position: fixed;
  transition: top 0.1s;
  left: 0px;
  padding: 0px;
  margin: 0px;
}
.resetBackgroundScroll {
  transition: all 0s;

  visibility: hidden;
}
/* #backgroundScrollImageZero {
  background-color: green;
}
#backgroundScrollImageOne {
  background-color: yellow;
}

#backgroundScrollImageTwo {
  background-color: red;
} */
@media (max-width: 1060px) {
  .backgroundScroll {
    background-size: cover;
  }
}
