.generatedCheckBoxQuestion,
.checkboxTextValue {
  width: max(100%, 100%);
  max-height: max-content;
  font-size: inherit;
  color: var(--white);
}
.generatedCheckboxInputContainer {
  width: max(100%, 100%);

  display: grid;
  grid-template-columns: max-content max-content 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: inherit;
}
.checkBoxInput {
  width: max(15px, 15px);
  height: max(15px, 15px);
}
.checkboxTextValue {
  text-align: left;
}
.generatedCheckboxInputLabel {
  width: max-content;
  max-width: max-content;
  max-height: max-content;
  font-size: inherit;

  color: var(--white);
}
@media (max-width: 950px) {
}
